#map {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.floating-range {
  position: fixed;
  bottom: 20px;
  left: 20px;
  /*para que se coloque por encima del contenido*/
  z-index: 999;
  width: 500px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.floating-content{
  display: flex;
  align-items: center;
}
