#map {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

button{
  position: fixed;
  bottom: 30px;
  right: 20px;
}
ul{
  position: fixed;
  top: 30px;
  right: 20px;
  cursor: pointer;
}
